@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway.ttf') format('truetype');
    font-weight: 100 900;
}


body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0d1011;
    font-family: 'Raleway';
}

canvas {
    margin-inline: auto;
    margin-block: auto;
}